<h2>User info</h2>

<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= @user.errors.count %> 件の error がありました。</h2>
      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= f.text_field :name, placeholder:"Name" %>
  <%= f.attachment_field :profile_image, placeholder:"Image" %>
  <%= f.text_area :introduction, placeholder:"Introduction" %>
  <%= f.submit "Update User" %>
<% end %>

<p>copuright</p>