<%= render "users/list", locals: {user: @user, book: @book} %>

<h2>Book detail</h2>
<br>
<table>
  <tbody>
    <tr>
      <td>
        <%= link_to user_path(@user.id) do %>
          <%= attachment_image_tag @user, :profile_image %>
        <% end %>
      </td>
      <td>
        <%= @books.title %>
      </td>
      <td>
        <%= @books.opinion %>
      </td>
    </tr>
  </tbody>
</table>